* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

body {
  background: #E6E6E6;
  font-family: 'Work Sans', sans-serif;
}

header, footer {
  background: #297373;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  max-width: 1350px;
  padding: 0 40px;
  margin: 0 auto;
}

.header__burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 30;
}

.header__burger-icon{
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #fff;
  transition: all 0.3s ease-in;
}
.header__burger-icon.is-active {
  background: none;
}

.header__burger-icon::before,
.header__burger-icon::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #fff;
    transition: all 0.3s ease-in;
}

.header__burger-icon::before {
  transform: translateY(-10px);
}

.header__burger-icon::after {
  transform: translateY(10px);
}

.header__burger-icon.is-active::before {
  transform: rotate(45deg)
}

.header__burger-icon.is-active::after {
  transform: rotate(-45deg)
}



.burger__menu {
  width: 320px;
  height: 100vh;
  padding-top: 80px;
  background: #39393A;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  transform: translateX(-320px);
  transition: transform 0.3s ease-in;
}

.burger__menu.open{
  transform: translateX(0);
}
.burger__menu.hide{
  transform: translateX(-320px);
}

.burger__nav {
  height: 100%;
}

.burger__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
}
.burger__item {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-left: 60px;
  font-size: 24px;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  color: #FFFFFF;
}

.burger__item img {
  margin-right: 15px;
  height: 40px;
  width: 40px;
}
.burger__item.active {
  color: #FF8552;
}

.burger__item::before, .burger__item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #2980b9;
  transform-origin: right;
  transition: transform 400ms ease;
  z-index: -1;
  transform: scaleX(0);
}

.burger__item::after{
  z-index: -2;
  filter: blur(30px);
}

.burger__item:hover::before, .burger__item:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}

.burger__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);;
  z-index: 10;
}

.unvisible {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.overflow {
  overflow: hidden;
}

/* Switcher */
.switcher {
  position: relative; 
  width: 100px;
  user-select:none; 
  color: #fff; 
}
.switcher-checkbox {
  display: none;
}
.switcher-label {
  display: block; 
  overflow: hidden; 
  cursor: pointer;
  border-radius: 20px;
}
.switcher-inner {
  display: block; 
  width: 200%; 
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.switcher-inner:before, .switcher-inner:after {
  display: block; 
  float: left; 
  width: 50%; 
  height: 30px; 
  padding: 0; 
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
}
.switcher-inner:before {
  content: "Train";
  padding-left: 8px;
  background-color: #FF8552;
}
.switcher-inner:after {
  content: "Play";
  padding-right: 8px;
  background-color: red;
  text-align: right;
}
.switcher-switch {
  display: block; 
  width: 50px; 
  background: #FFFFFF;
  position: absolute;
  top: 0; 
  bottom: 0;
  right: 51px;
  border-radius: 25px;
  transition: all 0.3s ease-in 0s; 
}
.switcher-checkbox:checked + .switcher-label .switcher-inner {
  margin-left: 0;
}
.switcher-checkbox:checked + .switcher-label .switcher-switch {
  right: 0px; 
}

.content {
  max-width: 1350px;
  min-height: 775px;
  padding: 20px 0;
  margin: 0 auto;
}
.score {
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  overflow: hidden;
}
.star-correct, .star-wrong {
  width: 50px;
  height: 50px;
  background-image: url(./img/star-win.svg);
  background-size: 100%;
}

.star-wrong {
  background-image: url(./img/star.svg);
}

.main-page, .category-page{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.main-card, .card {
  width: 290px;
  height: 240px;
  margin: 20px 15px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.5s ease;
}

.main-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: flex-end;
}


.card {
  position: relative;
  transform-style: preserve-3d;
}

.main-card:hover, .card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

.main-card div {
  font-size: 34px;
  line-height: 47px;
  text-align: center;
  width: 100%;
  color: #39393A;
}

.card-container {
  perspective: 700px;
}

.card-checked:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.rotated {
  transform: rotateY(180deg);
}

.front, .back {
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}
.card-cover .front {
  border-radius: 10px;
  background-size: cover;
  background-position: 50%;
}

.card-checked .front {
  opacity: 0.5;
}


.card-header {
  padding: 0 15px;
  font-size: 34px;
  line-height: 47px;
  text-align: center;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background: #E6E6E6;
  color: #39393A;
  pointer-events: none;
}

.card-cover .card-header{
  display: none;
}

.btn-rotate {
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center 16px;
  bottom: 5px;
  right: 5px;
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  cursor: pointer;
}

.card-cover .btn-rotate {
  display: none;
}

.btn-rotate:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.btns-container {
  display: flex;
  justify-content: center;
}

.btn-start, .btn-repeat {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-image: url(./img/start.png);
  background-size: 100%;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
  
}

.btn-start:hover, .btn-repeat:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.btn-start:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-repeat {
  background-image: url(./img/repeat.png);
}

.btn-repeat:active {
  transform: rotateZ(-20deg) scale(0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.win, .failure {
  height: 396px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.win {
  background-image: url(./img/success.png);
}

.failure {
  text-align: center;
  font-size: 30px;
  background-image: url(./img/failure.png);
}

.stat-buttons {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.btn-reset, .btn-repeat-words {
min-height: 40px;
font-size: 20px;
padding: 0 15px;
margin: 0 15px;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-reset {
  background-color: rgba(230,75,59,1);
}

.btn-repeat-words {
  background-color: rgba(133,219,23,1);
}

.btn-reset:hover, .btn-repeat-words:hover {
  box-shadow: 0 7px 12px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
}
.btn-reset:active, .btn-repeat-words:active  {
  transform: scale(0.98);
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}
.table-stat {
  width: 100%;
  min-width: 665px;
  background: #FEFFEA;
  cursor: default;
  position: relative;
  border-collapse: collapse;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

thead {
  text-align: center;
  background-color: #44AFF2;
  text-shadow: 1px 1px 2px #fff;
}

th {
  width: 50px;
  padding-right: 20px;
  line-height: 30px;
  user-select: none;
}

th.sort-up:after {
  content: '  ⭱';
}

th.sort-down:after {
  content: '  ⭳';
}

th:hover {
  cursor: pointer;
}
th:active {
  background-color: #327faf;
}

tr {
  text-align: center;
  text-transform: capitalize;
}

tr:not(:first-child):hover {
  background-color:  #9FF288;
}

td {
  line-height: 2rem;
}

td:hover {
  background-color:#88cf75;
}

.message {
  font-size: 34px;
  width: 100%;
  text-align: center;
}
  
.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  max-width: 1350px;
  padding: 0 20px;
  margin: 0 auto;
}
.footer_author, .footer_logo {
  font-size: 16px;
  padding: 0 15px;
  color: #fff;
}

.footer_logo img {
  height: 50px;
}

.footer_author:hover, .footer_logo img:hover {
  transform: scale(1.05);
}
